<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    
    <title>Login</title>
</head>
<body>
    <div class="login">
        <form action="" id="loginForm">
            <h1>Iniciar Sesion</h1>
            <div class="input-box">
                <label for="">email</label>
                <input type="text" id="paciente_email">
            </div>
            <div class="input-box">
                <label for="">Password</label>
                <input type="password" id="paciente_password">
            </div>
            <button type="submit" class="btn" id="perfil-btn">Iniciar Sesion</button>
            <div class="register-link">
                <p>No tienes una cuenta? <a href="/templates/html/register.html">Registrate</a></p>
            </div>

        </form>
    </div>
    <script src="https://kit.fontawesome.com/96ca335d68.js" crossorigin="anonymous"></script>
    <script src="/templates/javascript/login.js"></script>
</body>
</html>
